/* ------ Specification ------ */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #000;
}

a, button, input {
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none;
}

button:active {
    transition: all 0.2s ease;
}

input, input:hover, input:focus, input:active, button,
button:hover, button:focus, button:active {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.btn {
    display: block;
    width: 220px;
    margin-right: 0;
    text-transform: uppercase;
    background-color: rgba(172, 165, 165, 0.925);
    border: 1px solid silver;
}

.d-block {
    display: block;
}

/* ------ INDEX ------------------------------------------------------------------------------------- */

/* ------ Hero ------ */

.header {
    padding: 20px 0;
    background-color: #232323;
    color: rgb(202, 202, 202);
}

.header__search {
    align-items: center;
    width: 120px;
    height: 30px;
    margin: -4px 40px 0 60px;
    border: none;
    background-color: #232323;
}

.header__search-word {
    margin-left: 18px;
    border-bottom: 1px dotted rgb(202, 202, 202);
    font-size: 14px;
}

.fa-search {
    color: rgb(202, 202, 202);
    font-size: 18px;
}

.fa-search:hover {
    color: #fff;
}

.header__search-word:hover {
    color: #fff;
    border-bottom: #fff;
}

.header__cabinet {
    display: block;
    text-align: center;
    margin-left: 40px;
}

.header__cabinet,.header__registration,.header__search-word,
.header__help {
    color: rgb(202, 202, 202);
}

.header__cabinet:hover, .header__registration:hover,
.header__search-word:hover,.header__help:hover {
    color: #fff;
}

/* ------ Search ------ */
.search {
    text-align: center;
    padding-top: 20px;
}

.search__field {
    display: block;
    height: 34px;
    width: 80%;
    padding: 16px 6px;
    border: 1px solid silver;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
}

.search__field:focus {
    border-color: #23589c;
    box-shadow: 0 0 2px #23589c inset;
}

.search__field {
    -webkit-appearance: none;
}

input[type='search'] {
    -webkit-appearance: none;
}

.search__btn {
    margin-left: 0;
    height: 34px;
    width: 234px;
    background-color: #23589c;
    border-color: #23589c;
    color: #fff;
}

.search__wrap {
    height: 34px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.search__question-mark {
    position: absolute;
    right: 21%;
    top: 8px;
}

.fa-question-circle {
    font-size: 18px;
    z-index: 100;
    color: rgba(121, 121, 121, 0.788);
}

.center__top {
    flex-direction: row-reverse;
}

.search__item, .center__item {
    height: 30px;
    width: 200px;
    margin-left: 40px;
    border: 1px solid silver;
    box-shadow: 0 0 4px rgba(156, 148, 148, 0.5) inset;
    background-color: #fff;
    padding: 0 6px;
    outline: none;
    border-radius: 0;
}

.search__item:hover, .search__link {
    cursor: pointer;
    transition: 0.5s ease;
}

.search__ready {
    text-align: center;
}

.search__ready_extra {
    margin-left: 40px;
    margin-top: 12px;
}

/* ------ Offer ------ */

.offer {
    padding-bottom: 30px;
}

.offer__form {
    width: 290px;
    margin-right: 40px;
}

.offer__wrapper-invisible {
    width: 720px;
}

.offer__text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.offer__text_extra {
    text-transform: uppercase;
}

.offer__btn, .offer__form-btn {
    margin: 0 auto;
    height: 34px;
    color: #000;
    box-shadow: 0 0 14px rgba(223, 210, 210, 0.5) inset;
    letter-spacing: 0.1em;
}

.offer__btn:hover, .offer__form-btn:hover {
    color: #000;
    background-color: #fff;
}

.offer__reg-btn {
    background: url(../img/gold-button.jpg) center center / cover;
    height: 50px;
    width: 288px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding-left: 30px;
}

.offer__reg-btn:hover {
    color: rgb(133, 133, 133);
    box-shadow: 0 0 20px gold;

}

.btn-picture:hover {
    box-shadow: 0 0 20px gold;
    transition: 0.5s ease;
}

.offer__second-wrap {
    color: red;
    margin-bottom: 10px;
}

.fa-envelope {
    font-size: 18px;
}

.offer__form-btn {
    width: 130px;
    height: 34px;
    margin-left: 10px;
}

.offer__email {
    width: 78%;
    border: 1px solid rgba(223, 210, 210, 0.5);
    box-shadow: 0 0 4px rgba(156, 148, 148, 0.5) inset;
    padding: 4px;
}

.offer__wrap {
    margin-bottom: 14px;
}

.offer__terms-text {
    margin-left: 6px;
}

/* ------ Content------ */

.content {
    padding-bottom: 30px;
}

.content__block {
    margin: 0 30px 14px 0;
    text-align: justify;
    width: 288px;
}

.content__headline {
    margin-bottom: 16px;
    color: #23589c;
}

.content__video iframe {
    width: 500px;
    height: 100%;
    border: none;
}

.content__full-screen {
    display: block;
    margin: 1% 0 0 70%;
}

.content__full-screen:hover {
    cursor: pointer;
    color: rgb(180, 155, 14);
}

/* ------ Specials------ */

.specials {
    padding: 20px 0 20px;
    background-color: rgba(204, 197, 197, 0.322);
}

.specials__wrapper {
    margin: 0 0px;
}

.specials__block {
    width: 360px;
}

.specials__title {
    margin-bottom: 12px;
    font-size: 16px;
}

.specials__title_extra {
    margin-bottom: 30px;
}

.specials__text {
    text-align: justify;
}

.specials__btn {
    margin: 16px auto 0;
    height: 36px;
    color: #000;
}

.specials__btn:hover {
    color: #000;
    background-color: #fff;
}

/* ------ Banners------ */

.banners {
    height: 200px;
}

.banners .container {
    width: 100%;
}

.banners__headline {
    text-align: center;
    font-size: 40px;
    color: orange;
}

.banners__video3 {
    width: 100%;
}

/* ------ Credits------ */

.credits {
    padding: 20px 0;
}

.credits__block {
    width: 31%;
    margin-top: 4%;
}

.credits__wrapper-extra {
    width: 34%;
    margin-top: 4%;
}

.credits__block_five {
    width: 250px;
    height: 150px;
    line-height: 1em;
    margin-top: 0;
}

.credits__video1 {
    width: 135%;
    margin-left: -18%;
}

.credits__headline-wrap {
    justify-content: center;
}

.credits__headline {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
    margin-bottom: 20px;
}

.credits__headline_extra {
    margin-bottom: 30px;
}

.credits__headline_add {
    margin: 0 0 20px 0;
}

.credits__picture {
    display: block;
    width: 14%;
    height: 14%;
    margin-bottom: 20px;
}

.credits__phones {
    margin-left: 40px;
}

.credits__google-pic, .credits__apple-pic {
    height: 42px;
    width: 140px;
}

.credits__apple-pic {
    margin-bottom: 3px;
}

.credits__google {
    margin-right: 30px;
}

.credits__text-extra {
    font-size: 12px;
    letter-spacing: -0.01em;
    text-align: center;
    line-height: 1em;
}

.credits__symbol {
    font-size: 9px;
}

.credits__tel {
    margin-right: 10px;
}

.credits__tel_last {
    margin-left: 0;
}

.credits__icon {
    font-size: 37px;
}

.credit__social {
    flex-direction: column;
    align-items: center;
}

.credit__social-wrap {
    margin-bottom: 20px;
}

.credits__web {
    margin: 20px;
}

.fa-vk {
    color: #4c6c91;
}

.fa-facebook-f {
    color: #23589c;
}

.fa-youtube {
    color: #ff0000;
}

.fa-twitter {
    color: #00ade4;
}

.fa-instagram {
    color: #e2005d;
}

/* ------ Credits-two------ */

.credits-two {
    padding: 10px 0 20px;
}

.credits__row-two .offer__second-wrap {
    color: #000;
}

.offer__terms-text_add {
    font-size: 12px;
    line-height: 1.1em;
}

.credits__text {
    text-align: center;
}

.credits__btn {
    margin: 12px auto 0;
    height: 34px;
    color: #000;
}

.credits__btn:hover {
    background-color: #fff;
    color: #000;
}

/* ------ Footer------ */

.footer {
    padding: 20px 0 10px;
    background-color: #232323;
    color: rgb(202, 202, 202);
}

.footer__wrapper {
    display: flex;
}

.footer__block {
    flex-direction: column;
    margin-right: 80px;
}

.footer__block_last {
    margin-left: 140px;
    margin-right: 0;
}

.footer__link {
    margin-bottom: 10px;
    color: rgb(202, 202, 202);
    width: 220px;
}

.footer__link:hover {
    color: #fff;
}

.footer__text {
    line-height: 1.6em;
}

.footer__copyright {
    text-align: center;
}

/* ------ CABINET------------------------------------------------------------------------------------- */

/*------------ HEADER--------- */
.header__links {
    align-items: baseline;
}

.header__link {
    color: rgb(202, 202, 202);
    margin-left: 22px;
}

.header__link_extra {
    margin-right: 10px;
}

.header__link:hover {
    cursor: pointer;
    color: #fff;
}

.header__exit {
    margin-left: 24px;
    background: none;
}

.header-exit__name:hover {
    color: #fff;
}

.header-exit__name {
    color: rgb(202, 202, 202);
    display: block;
}

.fa-sign-out-alt {
    color: rgb(202, 202, 202);
    margin: 1px 0 0 10px;
}

.fa-sign-out-alt:hover {
    color: #fff;
}

/*------------ MAIN--------- */

.main {
    padding: 20px 0;
}

.form__text {
    margin-bottom: 10px;
    align-items: center;
}

.form__headline {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: normal;
}

.form__reset {
    margin-left: 6px;
    font-size: 10px;
    padding: 0 4px;
}

.form__reset:hover {
    box-shadow: 0 0 10px rgba(17, 16, 16, 0.5) inset;
}

.form__reset:active {
    background-color: rgba(223, 210, 210, 0.5);
    color: #fff;
}

.form, .form__link {
    flex-direction: column;
}

.form__menu {
    background-color: rgba(204, 197, 197, 0.322);
    border: 1px solid rgb(143, 135, 135);
    padding: 14px;
    width: 222px;
    margin-bottom: 14px;
}

.form__item {
    margin-bottom: 8px;
}

.form__undername {
    margin: 0 0 6px 4px;
}

.form__input, .search__item {
    display: block;
    width: 100%;
    height: 30px;
    box-shadow: 0 0 4px rgba(156, 148, 148, 0.5) inset;
    background-color: #fff;
    border: 1px solid silver;
    padding: 0 6px;
}

.search__item {
    margin-bottom: 25px;
}

.search__item_form {
    margin: 0;
}

.form__checkbox {
    display: block;
}

.form__under-menu {
    margin-top: 18px;
}

.form__credits {
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.form__credits input{
    display: none;
}
.form__credits input + label span.form__star-link.checked{
    display: none;
}
.form__credits input:checked + label span.form__star-link.checked{
    display: inline-block;
}
.form__credits input:checked + label span.form__star-link:not(.checked){
    display: none;
}

.form__star {
    width: 24px;
    height: 24px;
}

.main__banners-block {
    width: 250px;
    height: 300px;
    margin-bottom: 36px;
}

.main__banners-block_extra {
    width: 250px;
    height: 150px;
}

.main__banners-block_last {
    margin:  30px 0 0;
}

.video__main2 {
    width: 101%;
}

.main__banners-text {
    padding: 30px 10px 0;
    text-align: center;
    font-size: 30px;
    color: gold;
    line-height: 1.2em;
}

.center {
    margin: 0 12px;
}

.center__top {
    margin-bottom: 8px;
}

.center__block {
    width: 620px;
    height: 114px;
    padding: 12px 6px;
    border: 1px solid silver;
    align-items: center;
    margin-bottom: 8px;
}

.center__block:hover {
    cursor: pointer;
    transition: 0.5s ease;
    background-color: rgba(204, 197, 197, 0.322);
}

.center__intro {
    height: 80px;
    padding: 4px;
    align-items: center;
    justify-content: space-around;
    background-color: background: rgba(237, 194, 0, 1);
    background: -moz-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 194, 0, 1)), color-stop(100%, rgba(209, 151, 3, 1)));
    background: -webkit-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: -o-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: -ms-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: linear-gradient(to bottom, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edc200', endColorstr='#d19703', GradientType=0);
}

.center__intro-text {
    color: #fff;
}

.center__meet {
    width: 130px;
}

.center__intro-pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.center__right-wrap {
    margin-left: 36px;
}

.center__btn {
    margin-left: 10px;
    height: 20px;
    max-width: 100px;
    background-color: rgb(233, 221, 221);
    text-transform: none;
}

.center__star-pic {
    width: 20px;
    height: 20px;
    margin-left: 54%;
}

.center__rigth-wrap {
    flex-direction: row-reverse;
}

.center__block_last {
    margin-bottom: 0;
}

.center__block .main__banners-text {
    padding: 0;
    margin: 0 auto;
}

.center__phone, .center__link {
    margin-left: 20px;
}

.center__phone {
    color: #1b8ec7;
    text-decoration: none;
}

.center__phone:hover {
    cursor: pointer;
    color: #000;
}

.center__name {
    margin-bottom: 6px;
    font-size: 16px;
}

.center__position {
    font-size: 14px;
}

.center__text {
    line-height: 1.4em;
    width: 260px;
}

.center__credits {
    align-items: baseline;
}

.center__btn:hover {
    background-color: gold;
    box-shadow: 0 0 10px rgb(255, 217, 0) inset;
}

.center__btn:active {
    background-color: #1b8ec7;
    box-shadow: none;
}

.center__star {
    margin: 0 20px 0 30px;
}

.center__navigation {
    width: 15%;
    margin: 20px auto 0;
}

.center__number {
    margin: 0 auto;
}

.down-bar {
    display: none;
    justify-content: space-around;
    padding: 10px 15px;
}

.side-bar__achievement {
    width: 250px;
    margin-bottom: 20px;
}

.side-bar__achievement_adapt {
    width: 220px;
}

.side-bar__text {
    margin-bottom: 6px;
    line-height: 1.5em;
}

.side-bar__number {
    color: #23589c;
    text-decoration: underline;
}

.side-bar__headline {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}

.side-bar__stars {
    justify-content: center;
    margin: 0 auto 18px;
    width: 70%;
}

.side-bar__star {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.side-bar__services {
    flex-direction: column;
    background-color: #232323;
    color: rgb(202, 202, 202);
    border: 1px solid rgb(143, 135, 135);
    padding: 8px;
    width: 250px;
    border-bottom: none;
}

.side-bar__services_adapt {
    width: 210px;
}

.side-bar__services h1 {
    font-size: 14px;
}

.side-bar__extra-block {
    margin-left: 10px;
}

.side-bar__link {
    color: rgb(202, 202, 202);
}

.side-bar__link_first {
    color: rgba(209, 151, 3, 1);
    font-weight: bold;
}

.side-bar__link_extra:hover {
    background-color: rgb(143, 135, 135);
}

.side-bar__link:hover {
    background-color: rgb(202, 202, 202);
}

.side-bar__btn {
    display: block;
    border: 1px solid rgb(143, 135, 135);
    background-color: rgb(202, 202, 202);
    text-align: center;
    padding-top: 5px;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    border-top: none;
}

.side-bar__btn:hover {
    background-color: #232323;
    color: rgba(209, 151, 3, 1);
}

.side-bar__title {
    margin-bottom: 8px;
}

.side-bar__names {
    flex-direction: column;
}

.side-bar__person {
    color: #1095c2;
    margin-bottom: 7px;
}

/*--------------------------Modal windows------------------------*/

.box-modal_close, .arcticmodal-close {
    font-size: 25px;
    color: #fff;
    position: relative;
}

.reg__close {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -12px;
    left: 98%;
}

.reg {
    height: 440px;
    padding: 12px 0;
    color: #535353;
    background-color: #fff;
}
.adding_code {
    margin: 0 auto;
    display: block;
    background:#ffffff;
    color: #535353;
}
.adding_code .code_wrapper {
    padding: 15px;
    text-align: center;
}
.adding_code .reg__code {
    font-size: 20px;
    text-align: center;
    padding: 25px;
    font-weight: lighter;
    text-transform: uppercase;
}
.adding_code .code {
    border:1px solid #ccc;
    height: 34px;
    width: 100%;
    padding: 0 8px;
}
.adding_code {
    color: #007eff;
    text-decoration: underline;
}
.reg_code_btn {
    margin-top:10px;
}

.reg-wrap {
    padding: 0 12px;
}

.reg__card {
    width: 240px;
    padding-top: 20px;
    margin-right: 12px;
}

.reg__data {
    width: 418px;
}

.reg__container {
    box-shadow: 0px 1px 1px 1px #ccc;
    padding: 8px 4px 8px 16px;
    width: 418px;
}

.reg__form {
    font-size: 22px;
}

.reg__form_two {
    font-size: 14px;
}

.reg__form input {
    height: 34px;
    width: 390px;
    padding: 0 8px;
}

.reg__name-enter {
    width: 155px !important;
}

.reg__surname-enter {
    width: 215px !important;
    margin-left: 20px;
}

.reg__company-enter {
    width: 195px !important;
}

.reg__city-enter {
    width: 175px !important;
}

.reg__tax-enter {
    width: 175px !important;
}

.reg__site-enter {
    width: 195px !important;
}

.reg__text {
    margin-bottom: 34px;
}

.reg__text_last {
    margin-bottom: 70px;
}

.reg__cover_city, .reg__cover_site {
    margin-left: 20px;
}

.reg__intro_second, .reg__cover_branch {
    margin-top: 20px;
}

.reg__cover_branch {
    margin-bottom: 30px;
}

.reg__headline {
    color: #444444;
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}

.reg__capital {
    text-transform: uppercase;
}

.reg__item {
    color: #444444;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    box-shadow: -0.1px -2px 1px 1px #ccc;
    background-color: rgb(202, 202, 202);
    border: 1px solid #ccc;
}

.reg__active {
   background-color: #fff;
    border-bottom: none;
}

.reg-footer {
    background-color: gold;
    padding: 6px;
}

.reg-footer__intro {
    margin-left: 12px;
}

.reg-footer__img {
    width: 84px;
    height: 84px;
}

.reg-footer__headline {
    font-weight: normal;
    margin-bottom: 4px;
}

.reg-footer__input {
    height: 40px;
    width: 220px;
    padding: 6px;
}

.reg-footer__text {
    width: 290px;
    font-size: 9px;
    margin-bottom: 10px;
}

.reg-footer__arrow {
    font-size: 54px;
    color: #444444;
    margin: 20px 0 0 -20px;
}

/*--------------------------Modal window2------------------------*/

.modal2, .modal3, .modal4, .modal5, .modal6,
 .modal7, .modal8, .modal9, .modal10, .modal11,
  .modal12, .modal13, .modal14, .modal15 {
    background-color: #fff;
    color: #535353;
    padding: 10px;
    width: 650px;
    height: 400px;
}

.modal2__sertificate {
    width: 50%;
}

.modal2__content {
    padding: 14px;
    width: 340px;
}

.modal2__text {
    margin-bottom: 20px;
    line-height: 1.5em;
}

.modal2__text_last {
    margin-bottom: 4px;
}

.modal2__input {
    width: 100%;
    height: 34px;
    margin-bottom: 8px;
    padding: 6px;
}

.modal2__btn, .modal3__btn, .modal4__btn, .modal6__btn,
 .modal7__btn, .modal10__btn, .modal11__btn {
    margin: 0 0 0 auto;
    display: block;
    height: 36px;
    width: 70%;
    background-color: rgba(204, 197, 197, 0.322);
    border: 1px solid #ccc;
    color: #535353;
}

.modal2__btn:hover, .modal3__btn:hover, .modal4__btn:hover,
 .modal6__btn:hover, .modal7__btn:hover,
 .modal10__btn:hover, .modal11__btn:hover {
    background-color: #535353;
    color: #fff;
}

/*--------------------------Modal window3------------------------*/

.modal3 {
    width: 750px;
    height: 410px;
    padding:  10px 20px 10px 10px;
}

.modal3__socials {
    width: 250px;
    margin-bottom: 30px;
}

.modal3__icon {
    font-size: 50px;
    margin: 10px;
}

.modal3__wrap {
    margin: auto;
    text-align: center;
}

.modal3__social-wrap {
    width: 120%;
}

.modal3__social-wrap2 {
    margin-left: 18%;
}

.modal3__follow {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin: 30px auto 0;
}

.modal3__vacancies {
    width: 500px;
}

.modal3__title {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.modal3__text {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.modal3__textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.modal3__cv-wrap {
    margin-bottom: 20px;
}

.modal3__attach {
    color: #535353;
}

.modal3__attach:hover {
    color: #000;
}

.fa-id-card {
    font-size: 24px;
    margin-left: 12px;
    color: #535353;
}

.fa-window-close {
    font-size: 20px;
    margin-left: 12px;
    color: #535353;
}

.modal3__send {
    margin-bottom: 20px;
}

.modal3__info {
    margin-bottom: 10px;
}

.modal3__mail-text {
    margin-top: 18px;
}

.modal3__input {
    height: 36px;
    width: 220px;
    margin-left: 10px;
}

.modal3__btn {
    width: 140px;
    margin-left: 20px;
}

/*--------------------------Modal window 4------------------------*/

.modal4 {
    width: 820px;
    height: 426px;
    padding:  30px;
}

.modal4__title {
    font-size: 18px;
}

.modal4__headline {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 10px;
}

.modal4__text {
    line-height: 1.9em;
    margin-bottom: 8px;
}

.modal4__undertext {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}

.modal4__intro-text {
    font-size: 18px;
}

.modal4__input {
    height: 34px;
    width: 260px;
    margin: 0 12px 10px 0;
}

.modal4__extra-wrap_first {
    margin-top: 20px;
    margin-left: 14px;
}

.modal4__extra-wrap_second {
    margin-left: 14px;
}

.modal4__credits {
    margin-left: 20px;
}

.modal4__man {
    height: 160px;
    width: 160px;
    margin: 30px 0 20px;
}

.modal4__founder, .modal4__description {
    text-align: center;
    margin-bottom: 6px;
}

.modal4__btn {
    width: 160px;
    margin-top: 74px;
}

/*--------------------------Modal window 5------------------------*/

.modal5 {
    width: 840px;
    height: 400px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    text-align: center;
}

.window5__container {
    width: 780px;
    padding: 0 10px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    margin: 0 auto;
}

.modal5__lh {
    line-height: 1.5em;
}

.modal5__headline {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
}

.modal5__headline:after {
    display: block;
    content: '';
    border-bottom: 1px solid #000;
    width: 80px;
    margin: 30px 0 8px;
}

.modal__app {
    font-weight: bold;
}

.title__intro {
    font-size: 14px;
}

.modal5__indent {
    display: block;
    line-height: 1.5em;
}

.modal5__indent_left {
    text-align: left;
}

.modal5__ttu {
    text-transform: uppercase;
}

.modal5__empty-string {
    display: block;
    margin-bottom: 10px;
}

.modal5__last-string {
    display: block;
    margin-bottom: 30px;
}

/*--------------------------Modal window 6------------------------*/

.modal6 {
    width: 540px;
    height: 320px;
    padding: 20px;
}

.modal6__headline {
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
}

.modal6__form {
    width: 360px;
}

.modal6__text {
    line-height: 1.4em;
}

.modal6__input {
    width: 262px;
    height: 34px;
    padding: 6px;
}

.modal6__textarea {
    width: 250px;
    height: 80px;
    padding: 6px;
}

.modal6__social-block {
    margin-left: 10px;
}

.modal6__title {
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.modal6__icon {
    font-size: 32px;
    margin: 5px;
}

.modal6__social-wrap, .modal6__social-wrap2 {
    text-align: center;
}

.modal6__btn {
    margin: 0 auto;
}

/*--------------------------Modal window 7------------------------*/

.modal7 {
    width: 1050px;
    height: 700px;
    padding: 26px 20px 20px;
}

.modal7__top-wrap {
    margin-bottom: 40px;
}

.modal7__headline {
    display: block;
    font-weight: normal;
    font-size: 28px;
    width: 50%;
}

.modal7__title {
    display: block;
    width: 50%;
    margin-left: 20px;
}

.modal7__figure {
    border: 1px solid #000;
    width: 150px;
    margin-bottom: 20px;
}

.modal7__figure_one {
    height: 100px;
}

.modal7__figure_two {
    height: 160px;
}

.modal7__figure_three {
    height: 200px;
    margin-bottom: 0;
}

.modal7__figure_four {
    width: 200px;
    height: 50px;
}

.modal7__figure_five {
    width: 140px;
    height: 140px;
    margin-top: 20px;
    margin-left: 60px;
}

.modal7__fold_five {
    margin-top: 20px;
}

.modal7__description {
    margin-left: 10px;
}

.modal7__price, .modal7__banner-time {
    line-height: 1.5em;
}

.modal7__wrap-right {
    margin-left: 20px;
}

.modal7__box_last {
    margin-left: 60px;
}

.modal7__banner-pic {
    width: 338px;
    height: 416px;
    margin-left: 30px;
}

.modal7__btn {
    text-transform: uppercase;
    width: 200px;
    height: 40px;
}

.modal7__after {
    display: block;
    padding-top: 22px;
}

/*--------------------------Modal window 8------------------------*/

.modal8 {
    width: 720px;
    height: 270px;
    padding: 30px;
}

.modal8__links {
    width: 40%;
    flex-direction: column;
}

.modal8__link {
    display: block;
    margin-bottom: 20px;
}

.modal8__text {
    width: 60%;
    text-align: justify;
    margin-left: 20px;
    line-height: 1.5em;
}

/*--------------------------Modal window 9------------------------*/

.modal9 {
    width: 400px;
    height: 420px;
    padding: 20px 20px 8px;
}

.modal9__headline {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    color: rgb(83, 83, 83);
    margin-bottom: 14px;
}

.modal9__text {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.modal9__wrap {
    justify-content: space-around;
}

.modal9__detail {
    margin-bottom: 4px;
}

.modal9__square-pic, .modal9__round-pic {
    width: 80px;
    height: 80px;
}

.modal9__textarea {
    width: 98%;
    height: 100px;
}

.modal9__link {
    display: block;
    text-align: right;
}

/*--------------------------Modal window 10------------------------*/

.modal10 {
    width: 760px;
    height: 430px;
    padding: 20px 30px;
}

.modal10__links {
    width: 40%;
    flex-direction: column;
    margin-top: 30px;
}

.modal10__link {
    font-size: 16px;
    margin: 20px 0;
}

.modal10__link i {
    text-align: center;
    display: block;
    margin: 0;
}

.modal10__icon {
    font-size: 40px;
}

.modal10__content {
    width: 60%;
    margin-left: 20px;
    text-align: justify;
}

.modal10__action {
    color: red;
    font-size: 10px;
    margin: 8px 0;
}

.modal10__input {
    width: 100%;
    height: 34px;
    margin-bottom: 8px;
}

.modal10__textarea {
    width: 99%;
    height: 68px;
    margin-bottom: 8px;
}

.modal10__btn {
    width: 200px;
    text-transform: uppercase;
}

/*--------------------------Modal window 11------------------------*/

.modal11 {
    padding: 25px;
    width: 810px;
    height: 450px;
}

.modal11__content {
    width: 340px
}

.modal11__text {
    margin-bottom: 14px;
}

.modal11__text_price {
    margin-top: 10px;
}

.modal11__title {
    font-size: 20px;
}

.modal11__input {
    height: 34px;
    margin: 0 0 10px auto;
}

.modal11__input_name {
    width: 300px;
}

.modal11__input_tel {
    width: 260px;
}

.modal11__input_mail {
    width: 220px;
}

.modal11__textarea {
    width: 98%;
    height: 100px;
    margin-bottom: 8px;
}

.modal11__btn {
    margin-left: auto;
    text-align: center;
    padding-top: 6px;
}

.modal11__cover {
    margin-bottom: 20px;
}
/*--------------------------Modal window 12------------------------*/

.modal12 {
    width: 1000px;
    height: 480px;
    padding: 20px;
}

.modal12__block {
    width: 240px;
    margin-top: 30px;
}

.modal12__wrap {
    flex-direction: column;
    margin-left: 15%;
}

.modal12__apple, .modal12__google {
    height: 60px;
    width: 170px;
    margin-bottom: 40px;
}

.modal12__social-wrap, .modal12__social-wrap2 {
    text-align: center;
}

.modal12__social-wrap2 {
    margin-bottom: 20px;
}

.modal12__web {
    margin: 30px;
}

.modal12__network {
    text-align: center;
    font-size: 18px;
}

.modal12__video {
    width: 80%;
    height: 90%;
    border: none;
}

/*--------------------------Modal window 13------------------------*/

.modal13 {
    width: 360px;
    padding: 60px 40px 0;
    border-bottom: 1px solid #fff;
}

.modal13__logo {
    width: 40%;
    display: block;
    margin: 0 auto 10px;
}

.modal13__headline {
    text-align: center;
    margin-bottom: 10px;
}

.modal13__wrap {
    flex-direction: column;
}

.modal13__input {
    height: 34px;
    width: 100%;
    padding: 0 6px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid silver;
}

.modal13__input:focus {
    border-bottom: 1px solid #007eff;
}

.modal13__link {
    color: #007eff;
    text-decoration: underline;
}

.modal13__credits {
    margin-bottom: 40px;
}

.modal13__btn {
    width: 100%;
    height: 42px;
    color: #fff;
    background-color: #efc302;
    text-transform: uppercase;
    padding: 0 6px;
    text-align: center;
    font-size: 18px;
    border: none;
    margin-bottom: 30px;
}

.modal13__btn:hover {
    color: #efc302;
    background-color: #fff;
}

.modal13__footer {
    height: 100px;
    padding: 0;
    background: url(/img/bottomcoins.png) center center  / cover;
}

/*--------------------------Modal window 14------------------------*/

.modal14, .modal15 {
    width: 380px;
    height: 570px;
    padding: 0;
}

.window14__container, .window15__container {
    padding: 0 20px;
}

.modal14__header, .modal15__header {
    padding: 10px 0;
    border-bottom: 1px solid silver;
}

.modal14__star {
    width: 26px;
    height: 26px;
    display: block;
    margin-left: auto;    
}

.modal14__name {
    padding: 10px 0;
    color:#000;
    font-size: 24px;
    border-bottom: 1px solid silver;
}

.modal14__text, .modal15__text {
    padding: 10px 0;
    line-height: 1.2em;
    font-size: 10px;
    border-bottom: 1px solid silver;
}

.modal14__panel {
    padding: 20px 0;
    background-color: background: rgba(238, 195, 2, 1);
    background: -moz-linear-gradient(top, rgba(238, 195, 2, 1) 0%, rgba(203, 152, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238, 195, 2, 1)), color-stop(100%, rgba(203, 152, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(238, 195, 2, 1) 0%, rgba(203, 152, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(238, 195, 2, 1) 0%, rgba(203, 152, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(238, 195, 2, 1) 0%, rgba(203, 152, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(238, 195, 2, 1) 0%, rgba(203, 152, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eec302', endColorstr='#cb9800', GradientType=0);
}

.modal14__wrap {
    justify-content: space-between;
}

.modal14__btn {
    height: 30px;
    width: 130px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    border: none;
}

.modal14__btn_accept {
    background-color: #388e3c;
    margin-left: 6%;
}

.modal14__btn_accept:hover {
    background-color: gold;
    color: #388e3c;
}

.modal14__btn_decline {
    background-color: #4a4a4a;
    margin-right: 6%;
}

.modal14__btn_decline:hover {
    background-color: rgb(238, 113, 113);
    color: #4a4a4a;
}

.modal14__credits {
    padding: 10px 0;
}

.modal14__credits {
    flex-direction: column;
}

.modal14__intro {
    flex-direction: column;
    margin: 0 0 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    width: 100%;
}

.modal14__branch {
    font-size: 18px;
}

.modal14__position {
    color: #00a4fd;
}

.modal14__picture {
    width: 28px;
    height: 28px;
}

/*--------------------------Modal window 15------------------------*/
.modal15 {
    height: 620px;
}

.modal15__panel {
    padding: 10px 0;
    background-color:background: rgba(237, 194, 0, 1);
    background: -moz-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 194, 0, 1)), color-stop(100%, rgba(209, 151, 3, 1)));
    background: -webkit-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: -o-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: -ms-linear-gradient(top, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    background: linear-gradient(to bottom, rgba(237, 194, 0, 1) 0%, rgba(209, 151, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edc200', endColorstr='#d19703', GradientType=0);
}

.modal15__coins {
    width: 64px;
    height: 64px;
}

.modal15__name {
    padding: 10px 0;
    border-bottom: 1px solid silver;
}

.modal15__person {
    font-size: 24px;
    color: #000;
}

.modal15__btn {
    color: #777777;
    background-color: #b8b8b8;
    height: 40px;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    margin: 2% 0 0 16%;
}

.modal15__btn:hover {
    color: #b8b8b8;
    background-color: #777777;
}

.modal15__service {
    margin-bottom: 15px;
}

.modal15__date, .modal15__date2 {
    font-weight: bold;
    color: #000;
}

.modal15__date2 {
    margin-left: 30%;
}

.modal15__intro {
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 3% 0 0 5%;
}

/*--------------------------404 page not found------------------------*/

.error {
    display:block;
    text-align: center;
    margin:211px 0px;
}
.error h2 {
    font-size: 86px;
    padding: 15px 0px;
}
.error p {
    font-size:24px;
}
.back-cabinet a{
    color:#fff;
}
.back-cabinet {
    margin-top: 30px;
    background: url(../img/gold-button.jpg) center center / cover;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 1.5px;
    padding:20px 20px 20px 30px;
    letter-spacing: 0.1em;
    padding-left: 80px;
}
.back-cabinet:hover a {
    color: rgb(133, 133, 133);
}
.back-cabinet:hover {
    box-shadow: 0 0 20px gold;
}
.error .credits__apple-pic {
    margin-bottom:0px !important;
}
.error .operating-system {
    margin-top:15px;
}
.container-autoheight .container{
    height: calc( 100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}