/*----------------Media Queries--------------*/

/* ------ INDEX ------------------------------------------------------------------------------------- */

/* 992-1200px*/
@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .search__question-mark {
        right: 22%;
    }

    .search__btn {
        width: 180px;
    }

    .offer__form {
        width: 388px;
        height: 150px;
        margin-right: 0;
    }

    .offer__form_last {
        margin-left: 0;
    }

    .offer__wrapper-invisible {
        width: 100%;
        justify-content: space-around;
    }

    .offer__form-btn {
        margin: 0 0 0 auto;
    }

    .offer__text_extra {
        margin-bottom: 20px;
    }

    .content__block {
        width: 400px;
    }

    .content__video {
        margin: 0 auto;
        height: 300px;
    }

    .content__full-screen {
        margin: 10px auto 0;
        text-align: center;
    }

    .specials__block {
        width: 260px;
    }

    .specials__text_extra {
        margin-top: 31px;
    }

    .offer__wrapper,
    .content__wrapper {
        flex-wrap: wrap;
    }

    .offer__wrap {
        margin-top: 14px;
    }

    .credits__mobile {
        flex-direction: column;
        align-items: center;
    }

    .credits__wrapper-extra {
        margin-top: 0;
        margin-right: 10px;
    }

    .credits__block {
        margin-top: 0;
        margin-left: 10px;
    }

    .credits__video1 {
        width: 114%;
        margin-left: -6%;
    }

    .credits__google {
        margin: 0 auto 12px;
    }

    .credits__block_two {
        width: 38%;
    }

    .credits__headline_extra {
        margin: 0 auto;
    }

    .credits__headline-wrap {
        width: 70%;
        margin-left: 30px;
    }

    .credits__google-pic,
    .credits__text-extra {
        margin-left: -6%;
    }

    .credits__headline {
        margin: 0 auto 10px;
    }

    .credits__phone {
        margin-bottom: 20px;
    }

    .credits__web {
        margin: 14px;
    }

    .offer-form {
        flex-direction: column;
    }

    .offer__email {
        width: 100%;
    }

    .offer__form-btn {
        margin: 14px auto 0;
    }

    .footer__block_last {
        margin-left: 100px;
    }
}

/* ------ CABINET ------------------------------------------------------------------------------------- */
/* 992-1200px*/
@media screen and (max-width: 1200px) {

    .center__block, .center__wrapper, .center {
        width: 400px;
    }

    .center__inro {
        padding: 4px;
        display: block;
    }

    .center__right-wrap {
        margin-left: 0;
    }

    .center__meet {
        width: 74px;
    }

    .center__intro-pic {
        width: 20px;
        height: 20px;
        margin-right: 0;
        display: none;
    }

    .center__btn {
        width: 70px;
        padding: 0;
        margin: 0;
    }

    .center__star {
        margin-right: 0;
        margin-left: 6px;
    }

    .header__link {
        text-align: center;
    }
}

/* ------ INDEX ------------------------------------------------------------------------------------- */

/* 768 - 992 px */
@media screen and (max-width: 992px) {
    .search__question-mark {
        right: 27%;
    }

    .search__field {
        width: 74%;
    }

    .offer__form {
        width: 300px;
        height: 170px;
        margin-bottom: 20px;
    }

    .offer__text {
        margin-bottom: 40px;
    }

    .offer__terms-text {
        text-align: center;
    }

    .offer__btn_add {
        margin-top: -18px;
    }

    .content__headline,
    .specials__headline {
        text-align: center;
    }

    .content__block {
        width: 320px;
        margin-right: 0;
    }

    .specials__text_extra {
        margin-top: 0;
    }

    .specials__block {
        width: 200px;
    }

    .specials__btn {
        margin-top: 30px;
    }

    .credits__phones {
        margin-left: 0;
    }

    .credits__phone {
        flex-direction: column;
        align-items: center;
    }

    .footer__block {
        margin-right: 20px;
    }

    .footer__block_last {
        margin-left: 0;
    }

    .modal3 {
        width: 720px;
    }

    .modal3__vacancies {
    margin-left: 10px;
    }

    .modal3__socials, .modal3__follow {
        width: 210px;
    }

    .modal4 {
        width: 720px;
        height: 470px;
    }

    .modal4__input {
        width: 210px;
    }

    .modal7__banner-pic {
        display: none;
    }

    .modal7 {
        width: 100%;
    }

    .modal11 {
        width: 710px;
        height: 480px;
    }

    .modal11__input_name {
    width: 310px;
}

    .modal11__input_tel {
        width: 250px;
    }

    .modal11__input_mail {
        width: 250px;
    }

    .modal12 {
        width: 700px;
    }

    .modal12__video {
        max-width: 560px;
        margin-top: 30px;
    }

    .credits__video1 {
        width: 104%;
        margin-left: -4%;
    }

    /* ------ CABINET ------------------------------------------------------------------------------------- */
    /* 768 - 992 px */
    @media screen and (max-width: 992px) {
        .side-bar {
            display: none;
        }

        .down-bar {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }

        .modal12__wrap {
            margin-left: 6%;
        }

        .modal12__social {
            margin-left: -12%;
        }

        .modal12__network {
            margin-left: -8%;
            font-size: 14px;
        }

        .modal5 {
            width: 100%;
        }

        .window5__container {
            width: 700px;
        }
    }
