@font-face {font-family:'HeliosThin'; src: url('/templates/yoo_nano3/styles/venek/css/HeliosThin.otf');}
@font-face {font-family:'HelveticaNeueCyr-Light'; src: url('/templates/yoo_nano3/styles/venek/css/HelveticaNeueCyr-Light.otf');}

body {
    padding-bottom: 0px !important;
}

legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input {
  line-height: normal;
}
button,
select {
    font-family: 'Roboto Condensed', sans-serif;
  font-size:14px;
  font-weight: 300;
  background-color: #f1f1f1;
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
button:disabled,
input:disabled {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
::-moz-placeholder {
  opacity: 1;
}

#jshop_attr_id34{max-width:200px;}
.bannerfix2 {display:none;}
.bannerfix {    position: fixed;text-align: right;
    right:2%;
    top:142px;
    z-index: 99999;}
.bannerfix img {    width: 70%;}

@media(max-width:2500px){
.bannerfix {
    position: fixed;
    text-align: right;
    right: 9% !important;
    top: 142px;
    z-index: 99999;
}
}
@media(max-width:1900px){
.bannerfix {
    position: fixed;
    text-align: right;
    right: 4% !important;
    top: 142px;
    z-index: 99999;
}
}
@media(max-width:1400px){
  .bannerfix img {
    width: 50%;
}
.bannerfix {
    position: fixed;
    text-align: right;
    right: 2% !important;
    top: 142px;
    z-index: 99999;
}
}
@media(max-width:1300px){
.bannerfix {display:none;}
  .bannerfix2  {      width: 100%;
    position: fixed;
    text-align: center;
    right: 0%;
    bottom:22px;
    z-index: 99999;
    display: block;}
}
@media(max-width:768px){
.bannerfix {display:none;}
.bannerfix2 {display:block;    position: fixed;
    text-align: right;
    right: 0%;
   bottom: 40px;
    z-index: 99999;
    display: block;}
}


@font-face {
    font-family: 'Roboto Condensed Light';
    src: url("roboto-condensed-light.ttf");
}
@font-face {
    font-family: 'PT Sans Bold';
    src: url("pt-sans-bold.ttf");
}
@font-face {
    font-family: 'PT Sans';
    src: url("pt-sans.ttf");
}
@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url("roboto-condensed-bold.ttf");
}

a img {
    outline: none;
}
a {
    color: #ff7901;
}

/*Header*/
.header-contacts, .schedule {
    line-height: 69px;
    padding-left: 12px;
    font-family: 'Roboto Condensed Light';
    font-size: 14px;
    color: #ffffff;
    overflow: hidden;
    background: url("../../../images/bg_phone.png") no-repeat left 26px;
}
.header-contacts .header-city {
    color: #c4c9cf;
    float: left;
    margin: 1px 5px 0 10px;
}
.header-contacts .header-phone {
    font-family:'Roboto Condensed Bold', sans-serif;
    font-weight: 300;
    font-size: 18px;
    float: left;
}

.header-phone a, #downslide_dockbar a {
    color: #ffffff;
}

.schedule {
    padding-left: 25px;
    background: url("../../../images/bg_schedule.png") no-repeat left 26px;
}
.schedule span {
    color: #ff7901;
    font-family: 'Roboto Condensed Bold';
    font-size: 18px;
}

.attributes_title span {
    margin-left:3px;
    font-size:14px;
    font-weight: 300;
}


.tm-toolbar .uk-float-left .uk-panel {
    float: left;
}
.search-box {
    margin: 19px 0 0 20px !important;
    width: 250px;
    position: relative;
}
#ya-site-form0 .ya-site-form__search-input {
     padding: 0 !important;
}
.search-box #ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
    height: 30px;
    padding-left: 12px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 200;
    line-height: 22px;
    font-size: 10px;
}
.search-box #ya-site-form0 .ya-site-form__submit {
    display: block;
    width: 26px;
    height: 28px;
    position: absolute;
    top: 1px;
    right: 30px;
    margin: 0;
    border: none;
    outline: none;
    text-indent: -999px;
    z-index: 10;
    background: transparent url("../../../images/bg_search.png") no-repeat left 6px;
}

/*Logo and navigation*/
.tm-headerbar {
    position: relative;
    line-height: 84px;
    height: 84px;
    overflow: hidden;
    border-top: 3px solid #dfdfdf;
    border-bottom: 1px solid #eeeeee;
    background: #eeeeee;
}
.main-home-page .tm-headerbar{
    background: none;
    border-bottom: 1px solid #c4c4c4;
}
.tm-logo img {
    width: 220px;
    height: 41px;
}
.tm-navbar {
    float: left;
    margin: 34px 0 0;
}
.tm-headerbar .uk-navbar-nav > li {
    border-left: 1px solid #000000;
}
.tm-headerbar .uk-navbar-nav > li:first-child {
    border-left: none;
}
.tm-headerbar .uk-navbar-nav > li > a {
    height: 14px;
    padding: 0 18px;
    line-height: 14px;
    color: #222222;
    font-size: 12px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    border: none;
    text-shadow: none;
}
.tm-headerbar .uk-navbar-nav > li:hover > a, .tm-headerbar .uk-navbar-nav > li > a:focus,
.tm-headerbar .uk-navbar-nav > li.uk-open > a, .tm-headerbar .uk-navbar-nav > li.uk-active > a {
    background-color: transparent;
    color: #ff7901;
    box-shadow: none;
}
.mod-contact-form {
    position: relative;
    float: right;
    line-height: normal;
    margin: 9px 0 0;
}
.mod-contact-form input[type="tel"] {
    width: 220px;
    height: 30px;
    padding-left: 12px;
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
    color: #1f1f1f;
    outline: none;
    border: 1px solid #c5c5c5;
    background: transparent;
}
.mod-contact-form ::-webkit-input-placeholder, #jshop_unijax_filter ::-webkit-input-placeholder,
#nvgrevform ::-webkit-input-placeholder, .quickorderform ::-webkit-input-placeholder {
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
    color: #1f1f1f;
}
.mod-contact-form :-moz-placeholder, #jshop_unijax_filter :-moz-placeholder,
#nvgrevform :-moz-placeholder, .quickorderform :-moz-placeholder {
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
    color: #1f1f1f;
}
.mod-contact-form ::-moz-placeholder, #jshop_unijax_filter ::-moz-placeholder,
#nvgrevform ::-moz-placeholder, .quickorderform ::-moz-placeholder {
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
    color: #1f1f1f;
}
.mod-contact-form :-ms-input-placeholder, #jshop_unijax_filter :-ms-input-placeholder,
#nvgrevform :-ms-input-placeholder, .quickorderform :-ms-input-placeholder {
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
    color: #1f1f1f;
}
#submit-contact-form {
    display: block;
    width: 220px;
    height: 30px;
    position: relative;
    margin-top: 1px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
    cursor: pointer;
    background: #ff7901;
}
#submit-contact-form:hover {
    text-decoration: none;
}
#submit-contact-form:active {
    top: 1px;
    left: 1px;
}
.validation-msg {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    color: #e6540d;
    font-family: 'PT Sans';
    font-size: 11px;
}
#success-notify, .validation-msg {
    display: none;
}
.success-notify-info {
    padding-top: 40px;
    text-align: center;
    color: #444444;
    font-family: 'PT Sans Bold';
    font-size: 20px;
}

/*Categories in home page*/

.tm-top-a {
    padding: 20px 0;
    box-shadow: inset 0 3px 5px 0 #dfdfdf, 0 0 0 0 #fff, inset 0 0 5px 0 #dfdfdf, 0 0 0 0 #fff;
    background: #f8f8f8;
}
div.uk-panel-box {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
}
.tm-main-top .uk-row-first .uk-panel > p{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px){
    .tm-main-top .uk-row-first .uk-panel > p{
        display: block;
    }
}
.categories-item {
    display: block;
    float: left;
    width: 218px;
    height: 288px;
    border: 1px solid #dfdfdf;
    position: relative;
    margin: 0 20px 0 0;
    text-align: center;
    font-size: 14px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 500;
    line-height: 22px;
    color: #444444;
    background: #ffffff;
}
.categories-item:hover {
    text-decoration: none;
    box-shadow: 0 3px 5px 0 #dfdfdf;
}
.categories-item:hover:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    border-top: 3px solid #ff7901;
    border-bottom: 3px solid #ffa53a;
}
.categories-item:last-child {
    margin: 0;
}
.categories-item img {
    /*width: 180px;*/
    width: auto;
    height: 140px;
}
.categories-item-title {
    display: inline-block;
    height: 40px;
    text-transform: uppercase;
    line-height: 16px;
    margin: 15px 0 0;
}
.categories-item-info {
    display: inline-block;
    line-height: 14px;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #222222;
    margin: 15px 15px 0;
}

/*Sidebar left*/

.mod-categories-list h3.uk-panel-title, .articles-previews h3.uk-panel-title, .social-links h3.uk-panel-title,
.mod-filters-products h3.uk-panel-title {
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ff7901 url("../../../images/bg_mod_cat_list_title.png") no-repeat 191px 9px;
}
ul.mod-categories-list {
    padding: 0;
    margin: 10px 0 0 10px;
    width: 200px;
    list-style: none;
}
ul.mod-categories-list li a {
    display: block;
    padding: 6px 0 6px 32px;
    line-height: 16px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #1f1a17;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
    background: url("../../../images/bg_cat_list_item.png") no-repeat 9px center;
}
ul.mod-categories-list li a:hover, ul.mod-categories-list li.active > a {
    text-decoration: none;
    color: #ff7901;
    background: #f8f8f8 url("../../../images/bg_cat_list_item_active.png") no-repeat 9px center;;
}
ul.categories {
    list-style: none;
}

.free-delivery-link {
    display: block;
    width: 218px;
    border: 1px solid #dfdfdf;
    text-align: center;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: 22px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.free-delivery-link:hover {
    text-decoration: none;
}
.free-delivery-title {
    display: block;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    padding: 5px 0 15px;
}
.free-delivery-link img {
    width: 200px;
}
.free-delivery-info {
    display: block;
    line-height: 30px;
    background: #222222;
}

.articles-previews {
    width: 220px;
}
.articles-previews h3.uk-panel-title {
    margin-bottom: 0;
    background: #ff7901 url("../../../images/bg_mod_articles_title.png") no-repeat 192px 11px;
}
.newsflash-item {
    position: relative;
    padding: 8px;
    border-bottom: 1px solid #ff7901;
    font-family: 'Roboto Condensed';
    font-size: 12px;
    color: #444444;
}
.article-date {
    display: none;
    padding-left: 25px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    background: url("../../../images/bg_calendar.png") no-repeat 0 0;
}
.newsflash-title {
    margin: 0 0 2px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    color: #1f1a17;
}
.newsflash-title a {
    color: #1f1a17;
}
.newsflash-title a:hover, .newsflash-item .readmore:hover {
    color: #ff7901;
    text-decoration: none;
}
.newsflash-item p {
    margin: 0;font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 0 0 15px;
    line-height: 14px;
}
.newsflash-item .readmore {
    display: block;
    position: absolute;
    bottom: -10px;
    right: 0;
    padding-left: 15px;
    font-family: 'PT Sans Bold';
    color: #ff7901;
    text-transform: lowercase;
    text-decoration: none;
    background: #ffffff;
}
.social-links {
    overflow: hidden;
}
.social-links h3.uk-panel-title {
    margin-bottom: 15px;
    background: #ff7901 url("../../../images/bg_social_title.png") no-repeat 190px 11px;
}
.social-links a {
    display: block;
    float: left;
    width: 35px;
    height: 30px;
}
.social-links .social-vk {
    margin: 0 15px 0 10px;
    background: url("../../../images/bg_social.png") no-repeat 0 0;
}
.social-links .social-inst {
    margin: 0 10px 0 0;
    background: url("../../../images/bg_social.png") no-repeat -50px 0;
}
.social-links .social-youtube {
    margin: 0 10px 0 0;
    background: url("../../../images/bg_social.png") no-repeat -95px 0;
}
.social-links .social-odk {
    margin: 0 3px 0 0;
    background: url("../../../images/bg_social.png") no-repeat -140px 0;
}
.social-links .social-facebook {
    width: 17px;
    margin: 0;
    background: url("../../../images/bg_social.png") no-repeat -178px 0;
}

/*module filter*/

.mod-filters-products h3.uk-panel-title {
    background: #ff7901 url("../../../images/bg_filter_title.png") no-repeat 181px 10px;
}
.mod-filters-products #jshop_unijax_filter {
    margin: 15px 0 0;
    width: 220px;
}
.filter-label {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1f1a17;
    margin: 7px 0 2px;
}
.trackbar-inputs {
    overflow: hidden;
    margin-bottom: 10px;
}
.trackbar-inputs input {
    width: 100px;
    height: 30px;
    float: left;
    border: 1px solid #c5c5c5;
    padding-left: 10px;
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
    color: #1f1f1f;
}
.trackbar-inputs input:first-child {
    margin-right: 20px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar {
    padding-top: 25px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l div span,
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r div span {
    color: #444444;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    position: absolute;
    top: -30px;
    z-index: 1;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l div span:first-child {
    left: 0;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l div span.limit {
    left: 12px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l div span.last {
    left: 45px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r div span:first-child {
    right: 45px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r div span.limit {
    right: 12px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r div span.last {
    right: 0;
}

div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l .leftBegun,
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r .rightBegun {
    top: -6.5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ff7901;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7901', endColorstr='#ff7901',GradientType=0 );
    border: 6px solid #c4c4c4;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l .leftBegun {
    left: 1px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r .rightBegun {
    right: 1px;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .c {
    height: 10px;
    margin-top: -10px;
    background: #ff7901;
}
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .l .leftBlock,
div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r .rightBlock {
    height: 10px;
    background: none repeat scroll 0 0 #eeeeee;
}

div.mod-filters-products .uf_options {
    border: 1px solid #c5c5c5;
}
div.mod-filters-products #jshop_unijax_filter .chzn-container-single .chzn-single,
div.mod-filters-products #jshop_unijax_filter .chzn-container-active.chzn-with-drop .chzn-single,
div.mod-filters-products #jshop_unijax_filter .chzn-container.chzn-container-multi .chzn-choices{
    border-right: none !important;
    height: 30px;
    line-height: 30px;
}
div.mod-filters-products .chzn-container-single .chzn-default, div.mod-filters-products .chzn-container-single .chzn-single,
div.mod-filters-products .chzn-container-single .chzn-search input[type="text"], div.mod-filters-products .chzn-drop {
    color: #1f1f1f;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
}
div.mod-filters-products .chzn-container-single .chzn-single div b {
    background: url('/media/jui/css/chosen-sprite.png') no-repeat 0 5px;
}
div.mod-filters-products .chzn-container-active.chzn-with-drop .chzn-single div b {
    background-position: -18px 5px;
}
div.mod-filters-products #jshop_unijax_filter .chzn-drop {
    width: 220px !important;
}
div.mod-filters-products .chzn-container-single .chzn-single abbr {
    top: 9px;
}
div.mod-filters-products .chzn-container .chzn-results li.active-result.highlighted {
    color: #ff7901;
    background: none;
}
div.mod-filters-products .chzn-container-multi .chzn-choices li.search-field input[type="text"] {
    padding: 7px;
    height: 28px;
    color: #1f1f1f;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
}
div.mod-filters-products .chzn-container-multi .chzn-choices li.search-choice {
    position: relative;
    margin: 5px 0 0 5px;
    padding: 4px 18px 4px 7px;
    border: none;
    border-radius: 0;
    background-color: #ff7901;
    background-image: none;
    box-shadow: none;
    color: #ffffff;
    line-height: 14px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
}
div.mod-filters-products .chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
    top: 6px;
    background: url('../../../images/bg_close.png') no-repeat;
}
div.mod-filters-products .uf_label {
    cursor: pointer;
    padding-left: 7px;
    color: #1f1f1f;
    font-family: 'PT Sans Bold';
    font-size: 14px;
}
div.mod-filters-products #uf_labels .uf_count {
    color: #1f1f1f;
    font-family: 'PT Sans Bold';
    font-size: 14px;
}
.wrap-input input#uf_sale, .wrap-input input#uf_review {
    display: none;
}
.wrap-input label {
    display: inline-block;
    height: 20px;
    color: #444444;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 30px;
    cursor: pointer;
    background: url("../../../images/bg_checkbox.png") no-repeat 0 0;
}
.wrap-input input:checked + label {
    background: url("../../../images/bg_checkbox.png") no-repeat 0 -50px;
}
.wrap-input .uf_count {
    color: #444444;
    font-family: 'PT Sans Bold';
    font-size: 14px;
}
div#uf_sales, div#uf_reviews {
    font-weight: normal;
    font-size: 14px;
    margin: 10px 0;
}
.mod-filters-products .filter-buttons {
    overflow: hidden;
}
.mod-filters-products .filter-reset, .mod-filters-products .filter-submit {
    width: 100px;
    height: 30px;
    float: left;
    outline: none;
    color: #ff7901;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #ff7901;
    background: #ffffff;
}
.mod-filters-products .filter-submit {
    color: #ffffff;
    margin-left: 20px;
    background: #ff7901;
}



/*list products*/

.jshop > h1 {
    color: #222222;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: -5px;
}
.jshop, .jshop > p {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0 0 15px;
    line-height: 22px;
}
.jshop > p {
    margin: 15px 0;
}
.jshop .block_sorting_count_to_page {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
}
.jshop .block_sorting_count_to_page #order {
    height: 30px;
    width: 170px;
    padding-left: 8px;
    margin: 0 5px 0 12px;
    border: 1px solid #c5c5c5;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 22px;
    font-size: 12px;
    color: #1f1f1f;
    text-transform: none;
}
.jshop_list_product .block_product {
    border: 1px solid #dfdfdf;
    position: relative;
    padding: 15px 20px 15px 0;
    margin-top: 20px;
    float: left;
    width: 100%;
}


.jshop_list_product .image_block {
    width: 240px;
    float: left;
    text-align: center;
    padding: 5px 0;
}
.jshop_list_product .product_label {
    position: absolute;
    top: 13px;
    left: -5px;
    z-index: 10;
}
.jshop_list_product .image_block .jshop_img {
    width: 220px;
}
.prev-prod-info {
    float: left;
    width: 438px;
}
div.jshop_list_product .product .name {
    padding: 0 0 15px;
}
.jshop_list_product .product .name a {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}
.jshop_list_product .product .name .jshop_code_prod {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
}
div.jshop_list_product .product .description {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #222222;
    padding-bottom: 50px;
    float: right;
    width: 298px;
    min-height: 30px;
}
.jshop_list_product .productweight, .jshop_list_product .extra_fields {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #222222;
    float: left;
    width: 140px;
    line-height: 20px;
}
.jshop_list_product .extra_fields {
    min-height: 110px;
}
.jshop_list_product .review_mark {
    float: left;
    width: 318px;
}
.jshop .stars_no_active {
    width:125px !important;
    height: 20px;
    background-image: url("../../../images/star_2.png");
    background-repeat: repeat-x;
    background-position: 0 -20px;
}
.jshop .stars_active {
    height: 20px;
    background-image: url("../../../images/star_2.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    
}
.jshop .stars_no_active {
    float: left;
}
.jshop_list_product .count_commentar {
    float: left;
    margin-left: 10px;
    line-height: 24px;
}
.prod-prev-price {
    float: right;
    width: 120px;
    margin-top: 10px;
    padding-top: 20px;
    position: relative;
}
.prod-prev-price .old_price {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    color: #444444;
    padding-left: 15px;
}
.prod-prev-price .item_price span{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 22px;
    font-size: 24px;
    color: #ff7901;
    padding-left: 15px;
    margin-bottom: 12px;
    float: right;
}
.prod-prev-price .item_price span {
    /*font-size: 14px;*/
    
}
.add_to_compare a {
    display: block;
    padding-left: 30px;
    line-height: 22px;
    height: 20px;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-size: 14px;
    color: #444444;
    text-align: left;
    background: url("../../../images/bg_checkbox.png") no-repeat 0 0;
}
.add_to_compare a:last-child {
    color: #ff7901;
    text-decoration: underline;
    background: url("../../../images/bg_checkbox.png") no-repeat 0 -50px;
}
.jshop_list_product .add_to_compare a {
    margin: 15px 0 0 53px;
}

/*Product full*/

.product-full-main {
    float: left;
    width: 698px;
    padding: 10px 0 15px;
    border: 1px solid #dfdfdf;
    margin-bottom: 35px;
}
.jshop.productfull h1 {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #222222;
    margin: 0 0 10px;
    float:left;
    width:400px;
    padding-left: 10px;
}
.jshop.productfull h1 span {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
}
.product-full-main .stars_no_active {
    float: none;
    display: inline-block;
}
.rating-info {
    float: left;
}
.productfull .count_commentar {
    display: inline-block;
}
.productfull .image_middle {
    width: 300px;
    float: left;
    text-align: center;
    padding-left: 15px;
}
.productfull .image_middle img {
    width: 260px;
}
.productfull .text_zoom {
    display: none;
}
.jshop_img_description {
    float: left;
    width: 365px;
    padding-right: 15px;
}
.product-full-main .productweight, .product-full-main .extra_fields > div {
    line-height: 29px;
    padding: 0 20px;
    margin-bottom: 1px;
    background: #f1f1f1;
}
.product-full-main .extra_fields > div:nth-child(2n-1) {
    background: #f8f8f8;
}
.product-full-main .extra_fields_value, .product-full-main #block_weight {
    float: right;
}
.wrap-block-qty-price {
    float: right;
    margin: 15px 0;
}
.wrap-block-qty-price .prod_qty {
    display: inline-block;
    float: left;
    font-family: 'PT Sans Bold';
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    margin: 24px 20px 5px 0;
}
.wrap-block-qty-price .prod_qty_block {
    display: inline-block;
    float: left;
    margin-top: 15px;
}
.prod_qty_minus, .prod_qty_plus {
    width: 20px;
    height: 30px;
    border: 1px solid #c5c5c5;
    float: left;
    outline: none;
    background: url("../../../images/bg_qnt_buttons.png") no-repeat 5px 10px;
}
.prod_qty_minus {
    border-right: none;
}
.prod_qty_plus {
    border-left: none;
    background: url("../../../images/bg_qnt_buttons.png") no-repeat -37px 10px;
}
#quantity {
    width: 23px;
    height: 30px;
    border: 1px solid #c5c5c5;
    border-right: none;
    border-left: none;
    outline: none;
    float: left;
    text-align: center;
}

.wrap-prices {
    padding: 22px 0 0 12px;
    position: relative;
    float: left;
}
.wrap-block-qty-price .item_price, .productfull #block_price {
    float: left;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #ff7901;
    font-size: 28px;
}
.wrap-block-qty-price .item_price span {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: #222222;
    font-size: 12px;
}
.wrap-block-qty-price .old_price {
    position: absolute;
    top: 0;
    left: 12px;
    font-family: 'PT Sans Bold';
    color: #444444;
    font-size: 14px;
    text-decoration: line-through;
}
.social-share {
    margin: 15px 0 0 53px;
}
a.credit_button {
    font-size:14px;
 font-family:'Arial', sans-serif;
 text-decoration:none;
    float: left;
     margin: 13px 20px 13px 72px;
 text-align:center; 
 padding:3px 15px; 
 border:solid 1px #ff7801;  
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 color:#ffffff; 
 background:#ff7801; 
 -webkit-box-shadow:0px 0px 2px #ff7801, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #ff7801,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #ff7801, inset 0px 0px 1px #ffffff;  
 box-sizing: border-box;
}

a.credit_button:hover {
    font-size:14px ;
 font-family:'Arial', sans-serif;
 text-decoration:none;
    float: left;
    margin: 13px 20px 13px 72px;
 text-align:center; 
 padding:3px 15px; 
 border:solid 1px #ff7801;
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 color:#f5f5f5; 
 background:#ff7801; 
 -webkit-box-shadow:0px 0px 13px #bababa, inset 0px 0px 1px #f5f5f5; 
 -moz-box-shadow: 0px 0px 13px #bababa,  inset 0px 0px 1px #f5f5f5;  
 box-shadow:0px 0px 13px #bababa, inset 0px 0px 1px #f5f5f5;  
}

a.credit_prebutton {
    font-size:14px;
 font-family:'Arial', sans-serif;
 text-decoration:none;
    float: left;
     margin: 3px 2px 3px 2px;
 text-align:center; 
 padding:3px 15px; 
 border:solid 1px #ff7801;  
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 color:#ffffff; 
 background:#ff7801; 
 -webkit-box-shadow:0px 0px 2px #ff7801, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #ff7801,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #ff7801, inset 0px 0px 1px #ffffff;  
}

a.credit_prebutton:hover {
    font-size:14px ;
 font-family:'Arial', sans-serif;
 text-decoration:none;
    float: left;
    margin: 3px 2px 3px 2px;
 text-align:center; 
 padding:3px 15px; 
 border:solid 1px #ff7801;
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 color:#f5f5f5; 
 background:#ff7801; 
 -webkit-box-shadow:0px 0px 13px #bababa, inset 0px 0px 1px #f5f5f5; 
 -moz-box-shadow: 0px 0px 13px #bababa,  inset 0px 0px 1px #f5f5f5;  
 box-shadow:0px 0px 13px #bababa, inset 0px 0px 1px #f5f5f5;  
}

.social-share-title {
    font-family: 'PT Sans Bold';
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    float: left;
    padding-top: 4px;
    margin-right: 7px;
}
.social-likes, .social-likes div {
    float: left;
}
.social-likes div {
    width: 24px;
    height: 20px;
    cursor: pointer;
}
.social-likes .social-likes__widget_vkontakte {
    margin-right: 10px;
    background: url("../../../images/bg_social.png") no-repeat 0 0;
    background-size: 127px auto;
}
.social-likes .social-likes__widget_twitter {
    margin-right: 10px;
    background: url("https://5kwt.ru/images/69172344e262354e7440898e0320f3d7.jpg.png") no-repeat 0;
}
.social-likes .social-likes__widget_odnoklassniki {
    margin-right: 3px;
    background: url("../../../images/bg_social.png") no-repeat -92px 0;
    background-size: 127px auto;
}
.social-likes .social-likes__widget_facebook {
    background: url("../../../images/bg_social.png") no-repeat -117px 0;
    background-size: 127px auto;
}

a.button7
  {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #ff7901; /* фон кнопки */
  padding: .8em 1.9em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
a.button7:hover { background: #ff9233; }
a.button7:active { background: #ad4500; } 

.wrap-buttons {
    clear: both;
    border-top: 1px solid #dfdfdf;
    padding: 15px 17px 0;
    position: relative;
}
.wrap-buttons .add_to_compare {
    float: left;
    width: 140px;
    padding-top: 12px;
}
.wrap-buutton-buy {
    width: 150px;
    float: right;
}
.wrap-buutton-buy input.button, .wrap-buutton-buy input.button:hover {
    height: 39px;
    line-height: 39px;
    font-size: 20px;
}
.productfull #quickorderpopup + a {
    display: block;
    position: absolute;
    top: 26px;
    left: 160px;
    padding-left: 28px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'PT Sans Bold';
    color: #ff7901;
    font-size: 14px;
    background: url("../../../images/bg_question.png") no-repeat 0 0;
}
.quickorder {
    float: left;
    margin: 0 0 0 190px;
}
.quickorder .btn1-inverse {
    height: 38px;
    padding: 5px 10px;
    border: 1px solid #ff7901;
    background: #ffffff;
    line-height: 40px;
    font-family: 'PT Sans Bold';
    color: #ff7901;
    font-size: 20px;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    border-radius: 0;
    text-shadow: none;
}
.quickorder .btn1-inverse:hover {
    text-decoration: none;
}
.quickorder-title, .product-ask-title {
    line-height: 40px;
    padding-left: 20px;
    font-family: 'PT Sans Bold';
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    background: #ff7901;
}
div#sbox-window {
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
a#sbox-btn-close, .quickorder-close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 12px;
    top: 14px;
    cursor: pointer;
    background: url("../../../images/bg_close_modal.png") no-repeat center;
}

.product-ask-rform input[type="text"], .product-ask-rform textarea,
div#quickorderpopup input[type="text"], div#quickorderpopup textarea {
    margin: 20px 0 0 20px;
    height: 30px;
    width: 260px;
    border: 1px solid #c5c5c5;
    font-family: 'PT Sans';
    color: #1f1f1f;
    font-size: 12px;
    padding-left: 12px;
}
.product-ask-rform textarea, div#quickorderpopup textarea {
    height: 60px;
    padding-top: 3px;
}
.product-ask-rform input[type="submit"], div#quickorderpopup  input[type="submit"] {
    display: block;
    width: 140px;
    margin: 20px auto;
}
div #quickorderpopup {
    position: fixed;
    margin-top: 3px;
    border: none;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    z-index: 100000000;
}

.wrap-tabs-block {
    clear: both;
}
.tabs-switch {
    overflow: hidden;
    border-bottom: 1px solid #ff7901;
}
.tabs-switch span {
    display: block;
    float: left;
    width: 137px;
    height: 38px;
    line-height: 38px;
    font-family: 'PT Sans Bold';
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-left: 1px;
    border: 1px solid #dfdfdf;
    border-bottom: none;
}
.tabs-switch span:first-child {
    margin-left: 0;
    width: 138px;
}
.tabs-switch span:hover {
    color: #ff7901;
    border: 1px solid #ff7901;
    border-bottom: none;
}
.tabs-switch span.active {
    color: #ffffff;
    border: 1px solid #ff7901;
    border-bottom: none;
    background: #ff7901;
}
.tab-items {
    padding-top: 20px;
}
.tab-items > div {
    display: none;
}
.tab-items > div:first-child {
    display: block;
}

.review-header {
    margin-bottom: 10px;
    font-family: 'PT Sans Bold';
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
}
.review-user {
    font-family: 'PT Sans Bold';
    color: #222222;
    font-size: 14px;
}
.review-text {
    font-family:'Roboto Condensed', sans-serif;
    color: #444444;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.nvg_ext_review {
    
}
#review_user_name, #review_user_email, #review_review {
    width: 215px;
    height: 28px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid #c5c5c5;
    color: #1f1f1f;
    font-family: 'Roboto Condensed Light';
    font-size: 12px;
}
#review_review {
    padding-top: 8px;
    height: 109px;
    width: 380px;
}
.answer-btn input {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    font-family: 'PT Sans Bold';
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    background: #ff7901;
}
.review_rating .rating-cancel {
    display: none !important;
}
.review_rating div.star-rating a {
    width: 25px;
    background: url("../../../images/star_2.png") no-repeat -5px -20px;
}
.review_rating div.star-rating-on a {
    background-position: -5px 0!important;
}
.review_rating div.star-rating-hover a {
    background: url("../../../images/star_2.png") no-repeat -5px 0;
}
.review_rating div.star-rating {
    height: 20px;
}

/*Middle block*/

.tm-middle {
    margin-top: 18px;
}
.tm-main {
    padding-left: 5px !important;
}

.tm-main-top .wk-slideshow {
    border: 1px solid #ff7901;
    border-bottom: 3px solid #ff7901;
}
.tm-main-top .wk-slideshow:after {
    display: block;
    content: "";
    position: absolute;
    width: 700px;
    bottom: -6px;
    left: -1px;
    border-bottom: 3px solid #ffa53a;
}
.wk-content {
    overflow: hidden;
}
.slider-item-info {
    float: left;
    width: 250px;
    line-height: 32px;
    text-align: center;
    padding: 82px 0 0 80px;
    font-family: 'PT Sans Bold';
    font-size: 45px;
    color: #222222;
    text-transform: uppercase;
}
.slider-item-info span {
    font-size: 21px;
}
.slider-item-img {
    float: left;
    padding: 15px 0 8px 50px;
}
.slider-item-img img {
    width: 209px;
}
.tm-main-top .wk-slideshow-default > div .next, .tm-main-top .wk-slideshow-default > div .prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("../../../images/buttons.png") 0 50px no-repeat;
}
.tm-main-top .wk-slideshow-default > div .prev {
    left: 0;
    background-position: 0 -50px;
}
.tm-main-top .wk-slideshow-default > div .next {
    right: 0;
    background-position: 0 0;
}
.tm-main-top .wk-slideshow .nav {
    position: absolute;
    top: 183px;
    left: 78px;
    margin: 0;
    z-index: 2;
}
.tm-main-top .wk-slideshow-default .nav span {
    background: url("../../../images/nav.png") 0 0 no-repeat;
}
.tm-main-top .wk-slideshow-default .nav .active span {
    background-position: 0 -15px;
}
.tm-main-top .wk-slideshow-default .nav li {
    margin-left: 7px;
}
.tm-main-top .wk-slideshow-default .nav li:first-child {
    margin-left: 0;
}

/*info scheme*/
.info-scheme {
    font-family:'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    /* height: 72px; */
    line-height: 22px;
    color: #111111;
}
.info-scheme h1 {
    font-family: 'PT Sans Bold';
    text-transform: uppercase;
    font-size: 25px;
    color: #222222;
    line-height: 30px;
}
.info-scheme img {
    display: block;
    margin: 0 auto 20px;
}
.info-scheme .info-scheme-small-img {
    display: none;
}
.info-scheme p {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0 0 15px;
    line-height: 22px;
}
.info-scheme p:last-child {
    margin: 0 0 5px;
}
.info-scheme strong, .info-scheme b {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: 22px;
}
.info-scheme a {
    color: #222222;
}
.info-scheme-img-desc {
    padding: 0 0 10px 32px;
    font-family: 'Roboto Condensed Bold';
}
.info-scheme-img-desc span {
    display: inline-block;
}
.info-scheme-img-desc span:first-child {
    margin-right: 69px;
}
.info-scheme-img-desc span:nth-child(2) {
    margin-right: 13px;
}
.info-scheme-img-desc span:nth-child(3) {
    margin-right: 78px;
}

/*products in home page*/
.products-home-page .uk-panel-title {
    font-family: 'PT Sans Bold';
    text-transform: uppercase;
    font-size: 25px;
    color: #222222;
    line-height: 25px;
    margin-bottom: 15px;
}
.random_products {
    overflow: hidden;
}
.random_products .block_item {
    float: left;
    width: 218px;
    margin: 0 2px 20px 0;
    border: 1px solid #dfdfdf;
}
.random_products .block_item:nth-child(3n) {
    margin: 0 0 20px 0;
}
.random_products .item_name {
    height: 70px;
    padding: 15px 20px 5px;
    text-align: center;
    font-family: 'PT Sans Bold';
    font-size: 16px;
    line-height: 18px;
    color: #222222;
}
.random_products .item_name a {
    color: #222222;
}
.random_products .item_name a span {
    font-family: 'PT Sans';
    font-size: 14px;
    color: #444444;
}
.random_products .item_image img {
    display: block;
    /*width: 180px;*/
    width: auto;
    height: 135px;
    margin: 0 auto;
}
.random_products .item_price_block {
    float: left;
    padding: 32px 0 15px 15px;
    position: relative;
    font-family: 'PT Sans Bold';
}
.random_products .item_old_price {
    position: absolute;
    top: 10px;
    left: 15px;
    text-decoration: line-through;
    font-size: 14px;
    color: #444444;
}
.random_products .item_price {
    font-size: 24px;
    color: #ff7901;
}
.random_products .item_price span {
    font-size: 14px;
    color: #222222;
}
.random_products .jshop_list_product {
    float: right;
    padding: 30px 10px 0 0;
    width: 70px;
}
.random_products div .button_buy, div input.button {width: 75px;}
div .button_buy, div input.button {
    display: inline-block;
    padding:0;
    background: #ff7901;
    border-radius: 0;
    border: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family:'Roboto Condensed ', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}

div .button_buy:hover, div input.button:hover {
    padding: 0;
    text-decoration: none;
    background: #ff7901;
    border-radius: 0;
    border: none;
    color: #ffffff;
    font-size: 14px;
}
.random_products .add_to_compare a {
    display: block;
    clear: both;
    width: 100%;
    height: 29px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-size: 14px;
    color: #444444;
    padding-left: 0;
    background: #dfdfdf;
}
.random_products .add_to_compare a.compare_link {
    color: #ff7901;
}

.products-home-page + .uk-panel {
    margin-top: 0 !important;
}

/*advantages list*/
.advantages-list {
    margin: 50px 0 0;
    padding: 0;
    list-style: none;
}
.advantages-list li {
    position: relative;
    min-height: 45px;
    padding: 0 0 0 70px;
    margin-bottom: 20px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #444444;
}
.advantages-list li:before {
    content: '';
    display: block;
    width: 59px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../images/bg_advantages.png") no-repeat 0 2px;
    background-size: 59px auto;
}

.advantages-list li span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #222222;
}
.advantages-list li:nth-child(2):before {
    background-position: 0 -87px;
}
.advantages-list li:nth-child(3):before {
    background-position: 0 -176px;
}
.advantages-list li:nth-child(4):before {
    background-position: 0 -263px;
}
.advantages-list li:nth-child(5):before {
    background-position: 0 -612px;
}
.advantages-list li:nth-child(6):before {
    background-position: 0 -352px;
}
.advantages-list li:nth-child(7):before {
    background-position: 0 -524px;
}
.advantages-list li:nth-child(8):before {
    background-position: 0 -763px;
}
.advantages-list li:nth-child(9):before {
    background-position: 0 -686px;
}
.advantages-list li:nth-child(10):before {
    background-position: 0 -763px;
}

/*breadcrumbs*/
.uk-breadcrumb {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
}
ul.uk-breadcrumb > li:nth-child(n+2):before {
    content: '';
    width: 4px;
    height: 12px;
    margin: 0 5px;
    vertical-align: middle;
    background: url("../../../images/bg_breadcrumb_devider.png") no-repeat 0 3px;
}
.uk-breadcrumb a {
    color: #ff7901;
    text-decoration: underline;
}

/*Footer*/

.tm-footer {
    overflow: hidden;
    margin-top: 25px;
    padding-top: 28px;
    background: #1f1f1f;
}
.tm-footer:after {
    display: block;
    content: '';
    width: 100%;
    border-top: 3px solid #ff7901;
    border-bottom: 3px solid #ffa53a;
}
.tm-footer .uk-container {
    padding-bottom: 20px;
}
.footer-info {
    width: 220px;
    margin-right: 40px;
    float: left;
}
.tm-logo-footer img {
    width: 216px;
}
.tm-footer .schedule {
    line-height: 36px;
    background: url("../../../images/bg_schedule.png") no-repeat left 10px;
}

.footer-contacts {
    width: 220px;
    text-align: right;
    color: #ffffff;
    font-family: 'PT Sans';
    font-size: 14px;
    margin-bottom: 10px;
    background: url("../../../images/bg_phone.png") no-repeat left 3px;
}
.footer-phone {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 13px;
}
.footer-phone span {
    color: #8f8f8f;
}
.footer-city {
    font-size: 12px;
    display: inline-block;
    padding-right: 5px;
}

#footer-menu {
    float: left;
    width: 180px;
    margin-right: 60px;
}
#footer-menu > li > a {
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 30px;
    border-bottom: 1px solid #8f8f8f;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    background: url("../../../images/bg_footer_menu_item.png") no-repeat 10px 12px;
}
#footer-menu > li:last-child > a {
    border-bottom: none;
}
#footer-menu.uk-nav-side > li.uk-active > a, #footer-menu.uk-nav-side > li > a:hover, #footer-menu.uk-nav-side > li > a:focus {
    color: #ff7901;
    box-shadow: none;
    text-shadow: none;
    background: transparent url("../../../images/bg_footer_menu_item.png") no-repeat 10px 12px;
}
#footer-menu.uk-nav-parent-icon > .uk-parent > a:after {
    content: '';
}

/*link to up*/
.block-to-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    background: #303030;
}
.block-to-up:hover, #to-up:hover + .block-to-up {
    opacity: 0.6 !important;
}
#to-up {
    display: none;
    position: fixed;
    bottom: 70px;
    left: 25px;
    font-family: 'PT Sans Bold';
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 16px;
    z-index: 110;
    cursor: pointer;
    background: url("../../../images/arrow_up.png") no-repeat center 0;
}

.uk-grid:not(.uk-grid-preserve) {
    margin-left: 0;
}
.uk-grid:not(.uk-grid-preserve) > [class*='uk-width-'] {
    padding-left: 7px;
}
.jshop_payment_method .radio{margin-left: 5px !important;}
#oneStepCheckoutForm .row_agb {margin: 0 8px;}
#oneStepCheckoutForm .add_info{padding: 0 8px 8px;}
#oneStepCheckoutForm .button_order_finish{margin-top: 25px;}
#step2{padding: 15px 8px;}
#step3{padding: 10px 15px;}
#step4{padding: 10px 8px;}
#step5{margin-top: -15px !important;}
table.jshop{width: 97% !important;}
.jshop .weightorder{padding-right: 12px;}

/*pagination*/

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.pagination li {
    display: inline-block;
    padding: 5px;
}
.requiredtext a.button_buy, div input.button {width: 150px !important;}
/*ADAPTIVE*/

@media (max-width: 1100px) {
    .block-to-up {
        width: 70px;
    }
    #to-up {
        left: 5px;
        font-size: 12px;
        padding-top: 8px;
    }
}

@media (max-width: 960px)and (min-width: 768px) {
    .header-contacts{
        width: 230px;
        line-height: 25px;
        padding-top: 10px;
        padding-left: 7px;
    }
    .mod-contact-form {
        display: none;
    }
    .categories-item, .categories-item:last-child {
        margin: 0 0 20px 95px;
    }
    #footer-menu {
        margin-right: 50px;
    }

    .tm-sidebar-a *, .tm-main-bottom * {
        max-width: 100% !important;
    }
    .tm-sidebar-a, .tm-main-bottom {
        overflow: hidden;
    }
    .tm-main-top .wk-slideshow:after {
        width: 541px;
    }
    .tm-main-top .wk-slideshow .nav {
        top: inherit;
        left: inherit;
        bottom: 15px;
        right: 15px;
    }
    .slider-item-img {
        padding: 15px 0 8px 100px;
    }
    .social-links .social-vk {
        margin: 0 15px 0 20px;
    }
    .social-links .social-odk {
        margin: 3px 3px 0 50px;
    }
    .social-links .social-facebook {
        margin: 5px 0 0;
    }
    .free-delivery-link {
        width: auto;
    }
    .random_products .block_item, .random_products .block_item:nth-child(3n) {
        margin: 0 0 20px 34px;
    }
    .advantages-list li {
        font-size: 14px;
        line-height: 18px;
    }
    div.mod-filters-products #jshop_unijax_filter .uf_trackbar table.trackbar .r div span.limit {
        right: 20px;
        width: 21px;
    }
    #jshop_unijax_filter .uf_trackbar table.trackbar div.rightBlock {
        margin-right: 3px;
    }
    .trackbar-inputs input:first-child {
        margin-bottom: 10px;
    }
    .wrap-input label {
        font-size: 12px;
    }
    .mod-filters-products .filter-reset, .mod-filters-products .filter-submit {
        width: 80px;
    }

}

@media (max-width: 767px){
    .uk-container {
        padding: 0;
    }
    .block-to-up, #to-up {
        display: none !important;
    }
    .tm-headerbar {
        height: auto;
        line-height: inherit;
    }
    .tm-headerbar .tm-logo {
        position: absolute;
        top: 70px;
        left: 50%;
        margin-left: -110px;
        margin-right: 0;
        z-index: 100;
    }

    .tm-navbar {
        float: none;
        margin: 0;
    }
    .uk-navbar-toggle {
        position: absolute;
        top: 10px;
        left: 12px;
        display: inline-block;
        height: 30px;
        width:60px;
        padding: 0 2px 0 18px;
        float: none;
        text-shadow: none;
        color: #ff7901;
        font-family: 'PT Sans Bold';
        font-size: 12px;
        text-transform: uppercase;
        line-height: 28px;
        border: 1px solid #ff7901;
        z-index: 10;
        background: url("../../../images/bg_nav_toggle.png") no-repeat 5px 7px;
    }
    .uk-navbar-toggle:after {
        content: "Меню";
        font-family: 'PT Sans Bold';
        vertical-align: middle;
    }
    .uk-navbar-toggle:hover {
        color: #ff7901;
    }
    .tm-headerbar .uk-panel {
        max-width: inherit;
        margin: 0 auto;
        float: none;
    }
    .header-contacts {
        line-height: 15px;
        padding: 10px 0 10px 85px;
        font-size: 11px;
        margin-bottom: 79px !important;
        background: #242424;
    }
    .header-contacts-items {
        float: left;
        margin-right: 8px;
    }
    .header-contacts .header-city {
        float: none;
        margin: 0;
    }
    .header-contacts .header-phone {
        font-size: 13px;
    }
    
    .mod-contact-form {
        width: 280px;
        float: none;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .mod-contact-form input[type="tel"] {
        width: 140px;
        padding-left: 8px;
        border-right: none;
    }
    .mod-contact-form .btn-wr {
        float: right;
    }
    #submit-contact-form {
        width: 140px;
        margin-top: 0;
    }
    #submit-contact-form:active {
        top: 0;
        left: 0;
    }
    .validation-msg {
        right: 145px;
    }

    .categories-item, .categories-item:last-child {
        float: none;
        width: 278px;
        margin: 0 auto 20px;
    }
    .categories-item-info {
        line-height: 16px;
        font-size: 14px;
    }

    .tm-main {
        padding: 0 20px !important;
    }
    .info-scheme {
        text-align: center;
    }
    .info-scheme .info-scheme-full-img, .info-scheme-img-desc {
        display: none;
    }
    .info-scheme .info-scheme-small-img {
        display: block;
    }

    .wrap-video {
        width: 100%;
        height: 160px;
    }
    .advantages-list {
        margin: 20px 0 0;
    }
    .advantages-list li {
        font-size: 14px;
        line-height: 16px;
    }

    .tm-sidebar-a {
        float: none !important;
        clear: both;
        width: 320px;
        margin: 0 auto !important;
        padding: 0 20px !important;
    }
    .free-delivery-link {
        width: 278px;
    }
    .articles-previews {
        width: 280px;
    }
    .mod-categories-list h3.uk-panel-title, .articles-previews h3.uk-panel-title,
    .social-links h3.uk-panel-title, .mod-filters-products h3.uk-panel-title {
        width: 260px;
    }
    .articles-previews h3.uk-panel-title {
        background: #ff7901 url("../../../images/bg_mod_articles_title.png") no-repeat 252px 11px;
    }
    .social-links h3.uk-panel-title {
        background: #ff7901 url("../../../images/bg_social_title.png") no-repeat 250px 11px;
    }

    .social-links .social-vk {
        margin: 0 15px 0 40px;
    }

    #footer-menu {
        display: none;
    }
    .footer-info {
        width: 224px;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    /*menu*/
    .uk-nav-offcanvas {
        border-bottom: none;
        box-shadow: none;
    }
    .uk-nav-offcanvas > li > a {
        padding: 13px 5px 13px 26px;
        border-top: none;
        border-left: 4px solid #242424;
        border-bottom: 1px solid #333333;
        box-shadow: none;
        text-shadow: none;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 14px;
        font-size: 14px;
        font-family: 'PT Sans Bold';
        background: #242424;
    }
    .uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
    html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus, .jscat-and-prod > li > a:hover {
        color: #ffffff;
        outline: none;
        border-left: 4px solid #ff7901;
        background: #333333;
    }

    .uk-offcanvas .uk-panel {
        margin: 0;
        color: #ffffff;
        text-shadow: none;
    }
    .jscat-and-prod {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .jscat-and-prod > li > a {
        display: block;
        padding: 13px 5px 13px 45px;
        border-left: 4px solid #1c1c1c;
        border-bottom: 1px solid #333333;
        color: #ffffff;
        line-height: 14px;
        font-size: 14px;
        font-family: 'PT Sans Bold';
        background: #1c1c1c url("../../../images/bg_menu_list_item.png") no-repeat 26px center;
    }
    .jscat-and-prod > li > a:hover, .jscat-and-prod li.parent > a.open:hover, .jscat-and-prod li.parent > a.closed:hover {
        text-decoration: none;
        background: #333333 url("../../../images/bg_cat_list_item_active.png") no-repeat 26px center;
    }
    .jscat-and-prod li.parent > a.open, .jscat-and-prod li.parent > a.closed {
        padding-left: 45px;
        background: #1c1c1c url("../../../images/bg_menu_list_item.png") no-repeat 26px center;;
    }

    .uk-offcanvas-bar{
        background: #242424;
    }

    /*list products*/

    .jshop .block_sorting_count_to_page #order {
        width: 135px;
    }
    .prev-prod-info {
        float: none;
        width: auto;
    }
    .jshop_list_product .image_block {
        float: none;
        margin: 0 auto;
    }
    .jshop_list_product .block_product {
        padding: 70px 19px 19px 19px;
        position: relative;
        float: none;
        max-width: 330px;
        margin: 20px auto 0;
    }
    .jshop_list_product .product_label {
        top: 75px;
    }
    div.jshop_list_product .product .name {
        padding: 0 18px 15px;
        position: absolute;
        top: 20px;
        left: 0;
        text-align: center;
    }
    div.jshop_list_product .product .description, .jshop_list_product .productweight,
    .jshop_list_product .extra_fields, .jshop_list_product .review_mark, .prod-prev-price {
        float: none;
        width: auto;
    }
    .prod-prev-price {
        margin-top: 60px;
    }
    .jshop_list_product .product .buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 120px;
    }
    .jshop_list_product a.button_buy {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .jshop_list_product .add_to_compare a {
        margin: 0;
    }
    .jshop_list_product .add_to_compare {
        position: absolute;
        bottom: 80px;
        left: 20px;
    }
    div.jshop_list_product .product .description {
        font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 22px;
        min-height: inherit;
        margin-bottom: 14px;
        padding-bottom: 0;
        font-size: 14px;
    }
    .jshop_list_product .productweight, .jshop_list_product .extra_fields {
        font-family:'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 15px;
    line-height: 22px;
    }
    .jshop_list_product .productweight span, .jshop_list_product .extra_fields span {
        font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    }
    .jshop_list_product .extra_fields {
        min-height: inherit;
        margin-bottom: 10px;
    }
    .review_mark {
        margin-left: -4px;
    }
    .jshop_list_product {
        margin-bottom: 20px;
    }
    .mod-filters-products h3.uk-panel-title {
        background: #ff7901 url("../../../images/bg_filter_title.png") no-repeat 241px 10px;
    }
    .mod-filters-products #jshop_unijax_filter {
        width: 280px;
    }
    div.mod-filters-products #jshop_unijax_filter .chzn-drop {
        width: 280px !important;
    }
    .mod-filters-products .filter-reset, .mod-filters-products .filter-submit,
    .trackbar-inputs input {
        width: 130px;
    }
    .prod-prev-price .old_price, .prod-prev-price .item_price {
        padding-left: 0;
    }

    /*full product*/

    .product-full-main {
        float: none;
        width: auto;
        padding: 19px 19px 190px;
        position: relative;
    }
    .jshop.productfull h1 {
        float: none;
        width: auto;
        line-height: 20px;
        text-align: center;
        padding-left: 0;
    }
    .rating-info {
        float: none;
        position: absolute;
        bottom: 10px;
        left: 19px;
    }
    .productfull .image_middle {
        width: 240px;
        float: none;
        text-align: center;
        padding-left: 0;
        margin: 0 auto 15px;
    }
    .social-share {
        margin: 0;
        position: absolute;
        bottom: 65px;
        left: 19px;
    }
    a.credit_button {
        margin: 0;
        position: absolute;
        bottom: 103px;
        left: 19px;
    }

    a.credit_button + a.credit_button {
        left: 190px;
    }
    
    .jshop_img_description {
        float: none;
        width: auto;
        padding-right: 0;
    }
    .product-full-main .productweight, .product-full-main .extra_fields > div {
        padding: 0 7px;
        overflow: hidden;
    }
    .wrap-block-qty-price {
        float: none;
        margin: 0;
        overflow: hidden;
    }
    .wrap-block-qty-price .prod_qty_block {
        margin-top: 0;
        clear: both;
    }
    .wrap-block-qty-price .prod_qty {
        margin: 20px 0 5px 0;
    }
    .wrap-prices {
        float: right;
        margin: -14px 5px 0 0;
    }
    .wrap-buttons {
        border-top: none;
        padding: 0;
        position: static;
    }
    .prod_qty_minus, .prod_qty_plus {
        width: 35px;
        background: url("../../../images/bg_qnt_buttons.png") no-repeat 12px 5px;
        background-size: 90px auto;
    }
    .prod_qty_plus {
        border-left: none;
        background: url("../../../images/bg_qnt_buttons.png") no-repeat -67px 5px;
        background-size: 90px auto;
    }
    #quantity {
        width: 40px;
        font-size: 18px;
    }
    .wrap-buttons .add_to_compare {
        float: none;
        width: 140px;
        padding-top: 0;
        position: absolute;
        bottom: 40px;
        left: 19px;
    }
    .quickorder {
        margin: -10px 0 0;
    }
    .quickorder .btn1-inverse {
        font-size: 13px;
        padding: 0 5px;
    }
    .wrap-buutton-buy {
        margin-top: -10px;
    }
    .productfull #quickorderpopup + a {
        top: inherit;
        left: inherit;
        bottom: 40px;
        right: 20px;
        font-size: 12px;
        padding-left: 23px;
    }
    .rating-info > span {
        display: none;
    }
    .productfull .count_commentar {
        margin-left: 10px;
    }
    .product-full-main .stars_no_active {
        margin-bottom: -5px;
    }
    .tabs-switch {
        width: 280px;
        margin: 0 auto;
    }
    .tabs-switch span:nth-child(3), .tabs-switch span:nth-child(4),
    .tabs-switch span:nth-child(5), .review_reviews .review-header {
        display: none;
    }
    .review-text {
        text-align: justify;
    }
    .list_related .prod-prev-price {
        margin-top: 20px;
    }
    #review_user_name, #review_user_email, #review_review {
        width: 280px;
    }
    #review_review {
        height: 89px;
        width: 280px;
    }
}
.modal-backdrop {position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade {opacity:0}
.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}
@media (min-width:768px){.ajax_cart_wl .modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;outline:none;-webkit-box-shadow:0 3px 7px rgba(0,0,0,.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,.3);box-shadow:0 3px 7px rgba(0,0,0,.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}}
@media (max-width:767px){.ajax_cart_wl .modal{position:fixed;left:10px;top:5%;z-index:1050;width:280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;outline:none;-webkit-box-shadow:0 3px 7px rgba(0,0,0,.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,.3);box-shadow:0 3px 7px rgba(0,0,0,.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}.modal_header{font-size:18px; color:#000}}
.modal.fade{top:-25%;-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}
.modal.fade.in{top:10%}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee}
.modal-header .close{margin-top:2px}
.modal-header h3{margin:0;line-height:30px}
.modal-body{position:relative;max-height:400px;padding:15px;overflow-y:auto}
.modal-form{margin-bottom:0}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff}
.modal-footer:before,.modal-footer:after{display:table;line-height:0;content:""}
.modal-footer:after{clear:both}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.fade{opacity:0;-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;-moz-transition:height .35s ease;-o-transition:height .35s ease;transition:height .35s ease}.collapse.in{height:auto}.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}


@media (max-width: 767px){
	
	.jshop_list_product .image_block .jshop_img
	{
		margin-top: 30px;
	}
}


#carousel-cart .touchcarousel-item .item-block .item_image img, #carousel-wishlist .touchcarousel-item .item-block .item_image img, #carousel-history .touchcarousel-item .item-block .item_image img, #carousel-compare .touchcarousel-item .item-block .item_image img, #downslide_dockbar_history .block_item .item_image img, #downslide_dockbar_wishlist .block_item .item_image img #downslide_dockbar_compare .block_item .item_image img, #downslide_dockbar_cart .block_item .item_image img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

#downslide_dockbar_history .block_item:hover .item_image img, #downslide_dockbar_wishlist .block_item:hover .item_image img, #downslide_dockbar_compare .block_item:hover .item_image img, #downslide_dockbar_cart .block_item:hover .item_image img, #carousel-cart .touchcarousel-item .item-block:hover .item_image img, #carousel-wishlist .touchcarousel-item .item-block:hover .item_image img, #carousel-history .touchcarousel-item .item-block:hover .item_image img, #carousel-compare .touchcarousel-item .item-block:hover .item_image img, #carousel-cart .touchcarousel-item .item-block a:hover .item_image img, #carousel-wishlist .touchcarousel-item .item-block a:hover .item_image img, #carousel-history .touchcarousel-item .item-block a:hover .item_image img, #carousel-compare .touchcarousel-item .item-block a:hover .item_image img {
    width: auto;
    height: auto;
    max-width: 130px;
    max-height: 130px;   
}

.uk-container {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  max-width: 980px;
  padding: 0 20px;
}
@media (min-width: 1220px) {
  .uk-container {
    max-width: 1010px;
    padding: 0 35px;
  }
}
.uk-container:before,
.uk-container:after {
  content: " ";
  display: table;
}
.uk-container:after {
  clear: both;
}
.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}
/*custonm css*/
.tm-toolbar {
    height: 69px;
    border-bottom: 3px solid #eeeeee;
    background: #1f1f1f;
      margin-top: 0px;
margin-bottom: 0px;
}
.tm-headerbar .tm-logo {
    float: left;
    margin-right: 20px;
}
.tm-headerbar {
  margin-top: 0px;
margin-bottom: 0px;
}
.btn-wr {line-height: normal;    margin-top: 25px;}

.uk-accordion-title {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #F5F5F5 100%);
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #F5F5F5 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%, #F5F5F5 100%);
    background: linear-gradient(to bottom, #FAFAFA 0%, #F5F5F5 100%);
    border-radius: 5px;
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
}
.uk-accordion-title.uk-active{
  color:#ffffff;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ff7901;
    background: #ff7901 !important;
    border-radius: 5px;
    box-shadow: none;
    text-shadow: none;
    font-size: 16px;
}
.radio_attr_label img{border: 1px solid #000000;}

.orange-btn {

    display: block;
    width: 220px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
    cursor: pointer;
    background: #ff7901;

}

.comparebtn{
  display: block;
    width: 220px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
    cursor: pointer;
    background: #ff7901;
  box-shadow: none;
  border-radius:0px;
      padding: 0px;

}
.remove_all{
   display: block;
  
    height: 30px;
    position: relative;
 
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
    cursor: pointer;
    background: #ff7901;
  box-shadow: none;
  border-radius:0px;
      padding: 0px;

}
.remove_all a{color:#ffffff;}

.add_product{
   display: block;
    width: 220px;
    height: 30px;
    position: relative;
 
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed Bold';
    font-size: 14px;
    cursor: pointer;
    background: #ff7901 !important;
  box-shadow: none;
  border-radius:0px;
      padding: 0px;
}
.add_product a{color:#ffffff;}
.product_label img {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 95px;
  height: auto;
  vertical-align: middle;
}


.wrap-block-qty-price .item_price, .productfull #block_price .currency_code {
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
   line-height: 22px;
   color: #222222;
   font-size: 12px;
   float: right;
   padding-left: 5px;
   float: right;
}
.wrap-block-qty-price .item_price, .productfull #block_price{
    
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #ff7901;
    font-size: 28px;
}


.prod-prev-price .item_price{
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #ff7901;
    font-size: 24px !important;
}


.prod-prev-price .item_price .currency_code {
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
   line-height: 22px;
   color: #222222;
   font-size: 12px;
   float: right;
   padding-left: 5px;
   float: right;
}

span.prod_attr_img {
    padding-left: 5px;
    float: left;
}

.extra_fields div{
    padding: 0px;
}

.complect-products{
    margin:15px;
}