body {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
input[type="checkbox"] + span {
    position: absolute; 
    left: 203px; top: 370px;
    width: 100%; height: 100%;
    background: url(plain__star.png) no-repeat; 
    cursor: pointer; 
 }
  
input[type="checkbox"]:checked + span   {
  background:url(yellow__star.png) no-repeat;
  background-position:0px 0px;
 }